@import "tailwindcss";

:root {
  --normal: #19191B;
  --subtle-dark: #61646B;
  --subtle-light: #AFB1B6;
  --background: #EFEFF0;
  --surface: #FAFAFA;
  --primary: #3A00E5;
  --primary-subtle: #F7F5FF;
  --colors-black: #2C2C2C;
  --gradient: linear-gradient(93deg, #ffccaa_5.75%, #fd825f_94.42%);
}

.hp {
  max-width: 440px;
  margin: auto;
}

.flex {
  display: flex;
}

/* Hilangkan scrollbar untuk Chrome, Safari, Edge */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hilangkan scrollbar untuk Firefox */
.no-scrollbar {
  -ms-overflow-style: none;
  /* IE dan Edge lama */
  scrollbar-width: none;
  /* Firefox */
}

.profile {
  border-radius: 47px;
  background: url("/images/bg-hero.png") lightgray 50% / cover no-repeat, var(--Colors-Peach, #FCA);
  /* glow white */
  box-shadow: 0 0 5px 0 #FFF;
}

.judul-lomba {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  color: #000;
  text-overflow: ellipsis;
}

.font-judul {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  align-self: stretch;
  overflow: hidden;
  color: #000;
  text-overflow: ellipsis;
}

.deskripsi-lomba {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  align-self: stretch;
  overflow: hidden;
  color: #AFB1B6;
  text-align: justify;
  text-overflow: ellipsis;
}

.font-waktu-terdaftar {
  color: var(--Colors-Grey-100, #BFBFBF);
  font-family: "Work Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.unique {
  color: var(--Colors-Orange, #FD825F);
  font-family: "Playfair Display";
  font-size: 24px;
  font-style: italic;
  font-weight: 600;
  line-height: 31px;
  letter-spacing: 0.5px;
}

.title-3 {
  font-family: "Work Sans";
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 31px;
  /* 129.167% */
  letter-spacing: 0.5px;
}

.caption {
  font-family: "Work Sans";
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
  /* 113.333% */
}

.callout {
  font-family: "Work Sans";
  font-size: 19px;
  font-style: normal;
  font-weight: 500;
  line-height: 25px;
  /* 131.579% */
}

.subhead {
  font-family: "Work Sans";
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  /* 141.176% */
}

.footnote {
  font-family: "Work Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  /* 131.25% */
  letter-spacing: 0.25px;
}

.body {
  font-family: "Work Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
  /* 135% */
  letter-spacing: 0.1px;
}

/* .font-judul {
  color: #000;
  font-family: 'Work Sans', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.font-informasi {
  color: #000;
  font-family: 'Work Sans', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.font-deskripsi {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  align-self: stretch;
  overflow: hidden;
  color: #AFB1B6;
  text-align: justify;
  text-overflow: ellipsis;
  font-family: "Work Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.label-small {
  font-family: "Work Sans";
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.6px;
}

.label-medium {
  font-family: "Work Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0.4px;
}

.label-large {
  font-family: "Work Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.2px;
} */

/* :root {
  --background: #ffffff;
  --foreground: #171717;
} */

/* @theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
} */

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

/* body {
  background: color(white);
  color: color(black);
  font-family: Arial, Helvetica, sans-serif;
}
 */