@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* @theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
} */

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: color(white);
  color: color(black);
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  display: flex;
  margin: 40px auto 0;
  justify-content: center;
}

.search-bar {
  display: flex;
  width: 70%;
  height: 48px;
  margin: 0 12px 0 0;
  padding: 13px 12px;
  align-items: center;
  background-color: transparent;
  border-radius: 10px;
  border: 1px solid #3A00E5;
}

.search-bar input {
  display: flex;
  width: 100%;
  height: 100%;
  padding-right: 16px;
  outline: none;
}

.search-icon {
  display: flex;
  width: 24px;
  height: 24px;
  justify-content: center;
  color: black;
}

.filter-container {
  display: flex;
  width: 48px;
  height: 48px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 1px solid #3A00E5;
}

.filter-icon {
  display: flex;
  width: 50%;
  height: 50%;
  justify-content: center;
  color: #3A00E5;
}

.categories-container {
  margin: 20px 0 0 25px;

  
}

.categories-container ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0 0 0;
  overflow-x: auto;
  scrollbar-width: thin;
}

.categories-container ul li {
  display: flex;
  margin-right: 10px;
  padding: 8px 12px;
  align-items: center;
  justify-content: center;
  border-radius: 16px;
  background-color: #F7F5FF;
}

.content-container {
  display: flex;
  width: 90%;
  margin: auto;
  flex-direction: column;
  justify-content: flex-start;
  background: tomato;
}

.content-container .heading {
  margin: 20px 0 18px;
}

.content-container .card {
  display: flex;
  width: 97%;
  height: 226px;
  margin: 0 auto 63px;
  padding: 16px;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  gap: 14px;
  border-radius: 10px;
  border: 1px solid #3A00E5;
  background: #ffffff;
}

.content-container .card .figure {
  display: flex;
  align-items: center;
  gap: 16px;
  background-color: #ffffff;
}

.content-container .card .figure img {
  display: flex;
width: 52px;
height: 52px;
padding: 14px;
justify-content: center;
align-items: center;
}